<div class="box">


  <mat-toolbar>

    <nav class="navbar navbar-expand-lg">
      <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
          menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
          close
        </mat-icon>
      </button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Coupon </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Hero Deal </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Users </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">BusinessUser </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Brands </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Extra</a>
          </li>


        </ul>


      </div>
    </nav>

  </mat-toolbar>




  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

      <img class="avatar mat-elevation-z8" src="../../../assets/aboutus/team/asdas.png" />

      <h4 class="name">John Smith</h4>
      <button mat-button class="menu-button">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>


      <button mat-button class="menu-button">
        <mat-icon>info</mat-icon>
        <span> <a routerlink="app-aboutus">AboutUs</a></span>
      </button>
      <button mat-button class="menu-button">
        <mat-icon>contact_support</mat-icon>
        <!-- <span> <a routerlink ="app-contactus">ContactUs</a></span> -->
        <span> <a (click)="moveToContactUs()">ContactUs</a></span>
        <!-- <span>ContactUs</span> -->
      </button>
 <!-- <router-outlet></router-outlet> -->
           <!-- <mat-divider></mat-divider> -->

      <button mat-button class="menu-button">
        <mat-icon>exit_to_app</mat-icon>
        <span>LogOut</span>
      </button>

    </mat-sidenav>
    <mat-sidenav-content>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>